/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
	padding-top: 60px;
	overflow-x: hidden;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
a:hover, a:active, a:focus { 
	text-decoration: none!important;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

@function setcolor($color) {
    @if (lightness($color) > 55) {
      @return #181818;
    }
    @else {
      @return #f0f0f0;
	}
}
$navColor: #242e44;
$navText: setcolor($navColor);



header {
	&.fixed {
		width: 100%;
	    position: fixed;
	    left: 0;
	    top: 0;
	    right: 0;
	    margin-top: -20px;
	    padding-top: 20px;
	    z-index: 536870905 !important;
	}
	nav {
		position: relative;
		height: 60px;
		width: 100%;
	    background: $navColor;
	    padding: 0 20px 0 16px;
		ul {
			list-style: none;
		    margin: 0;
		    padding: 0;
		    li {
			    text-align: left;
			    height: 60px;
			    float: left;
			    margin-right: 10px;
			    #search-form {
			    	margin-top: 11px;
			    	#search-btn {
			    		font-size: 16px;
					    padding: 10px;
					    border-radius: 4px;
					    cursor: pointer;
					    -webkit-transition: 200ms all linear;
					    -moz-transition: 200ms all linear;
					    -o-transition: 200ms all linear;
					    transition: 200ms all linear;
					    &.opened {
					    	background-color: transparent;
						    color: darken($navColor, 10%);
						    font-size: 16px;
						    margin-right: -36px;
						    padding: 0 10px;
						    position: relative;
						    right: 40px;
					    }
					    &.closed {
							background-color: $navColor;
						    border: 1px solid lighten($navColor, 4%);
						    color: $navText;
						    padding: 9px 10px;
						    &:hover {
						    	border-color: lighten($navColor, 6%);
						   		background-color: darken($navColor, 10%);
						   		color: $navText;
						    }
					    }
			    	}
			    	#search-field {
			    		transition: width 0.25s cubic-bezier(0.49,0.37,0.445,0.715);
					    border: 0;
					    padding: 2px 0;
					    outline: none;
					    -webkit-appearance: none;
					    box-shadow: none !important;
					    font-size: 14px;
					    height: 34px;
					    line-height: 20px;
					    text-indent: 0;
					    border-radius: 4px;
					    background-color: $navText;
					    display: initial;
					    &.opened {
					    	width: 200px;
							padding-left: 10px;
					    }
					    &.closed {
						    width: 0;
						}
			    	}
			    }
			    a {
			    	display: block;
			    	border: 1px solid lighten($navColor, 4%);
				    border-radius: 4px;
				    font-size: 14px;
				    line-height: 20px;
			    	height: 36px;
			    	margin: 11px 0;
		    	    padding: 6px 14px;
				    background-color: $navColor;
				    border-color: lighten($navColor, 4%);
				    color: $navText;
				    transition: 200ms all linear;
				    font-family: "Helvetica Neue Bold", 'Helvetica';
				    cursor: pointer;
				    &:hover {
				    	border-color: lighten($navColor, 6%);
				   		background-color: darken($navColor, 10%);
				   		color: $navText;
				    }
				    i {
				    	top: 2px;
					    position: relative;
					    font-size: 18px;
					    .section {
					    	padding-left: 5px;
					    }
				    }
			    }
		    }
		}
	}
}
#nav-inner {
	position: fixed;
    min-width: 300px;
    min-height: 480px;
    height: 100%;
	width: 365px;
	top: 0;
    left: -350px;
    overflow: auto;
    &.navOpen {
    	transform: translate3d(375px,0,0);
    }
}
#sections-nav {
	position: fixed;
    display: block;
    overflow: hidden;
	height: 100%;
	width: 350px;
    min-width: 300px;
    min-height: 480px;
    top: 60px;
	left: -350px;
	padding-left: 50px;
	background-color: lighten($navColor, 6%);
	border-right: 1px solid darken($navColor, 6%);
	z-index: 909;
	transition-timing-function: cubic-bezier(0.565,1.65,0.765,0.88);
	transition: transform 500ms cubic-bezier(0.565,1.65,0.765,0.88);
	&.navOpen {
		transform: translate(300px, 0);
	}
	.section-menu {
		position: relative;
		color: $navText;
    	border-bottom: 1px solid lighten($navColor, 10%);
		list-style: none;
	    float: left;
	    margin: 0;
	    padding: 10px 0 0 25px;
	    width: 325px;
	    background-color: lighten($navColor, 6%);
	    z-index: 597;
	    font-size: 16px;
		li {
			padding-left: 20px;
			float: none;
    		text-align: left;
    		&.hover {
    			background: $navColor;
    			color: $navText;
    		}
    		&.unhover {
    			background: rgba(0,0,0,0)!important;
    			color: $navText!important;
    		}
			.main-nav-angle {
				color: lighten($navColor, 20%);
			    float: right;
			    padding-right: 30px;
			    padding-top: 12px;
			    font-size: 16px;
			    line-height: 16px;
			}
			a {
			    font-size: 14px;
			    line-height: 28px;
			    font-weight: normal;
			    text-transform: none;
			    color: $navText;
			    text-decoration: none;
			    width: auto;
			    border-radius: 4px;    
			    transition: padding 150ms ease-in;
    			padding: 6px;
    			display: inline-block;
    			&:hover {
    				padding: 6px 12px;
    				background: $navColor;
    			}
			}
			.drop-menu {
				background-color: lighten($navColor, 4%);
				margin-left: -20px;
				list-style: none;
				padding: 0px;
				height: 0;
    			overflow: hidden;
			    transition: padding 150ms ease-in;
    			&.opened {
					padding: 10px;
					height: auto;

    			}
			}
		}
	}
}

#nav-search-mobile {
	padding: 20px 0 0 20px;
    position: relative;
    width: 275px;
    background-color: lighten($navColor, 6%);
    input {
    	width: 268px;
    	border: 0;
	    padding: 2px 0 0 10px;
	    outline: none;
	    -webkit-appearance: none;
	    box-shadow: none;
	    font-size: 14px;
	    height: 32px;
	    line-height: 20px;
	    text-indent: 0;
	    border-radius: 4px;
	    background-color: $navText;
	    width: 248px;
	    color: #000;
    }
    button {
    	position: absolute;
	    right: 10px;
	    top: 27px;
	    background-color: transparent;
	    border: none;
	    border-radius: 4px;
	    outline: none;
	    padding: 0;
	    cursor: pointer;
	    font-size: 18px;
	    color: lighten($navColor, 6%);
	    margin: 0 5px 0 0;
    }
}

#site-attribution-off-canvas-menu {
    background-color: lighten($navColor, 6%);
    color: $navText;
    width: 325px;
    padding: 30px 50px;
    margin: 0;
    float: left;
    height: 250px;
}

#wrapper {
	transition-timing-function: cubic-bezier(0.565,1.65,0.765,0.88);
	transition: transform 500ms cubic-bezier(0.565,1.65,0.765,0.88);
	&.navOpen {
		transform: translate(275px, 0);
	}
}
